body {
  background-color: #FFFFFF;
  color: #000000;
}

h1 {
  font-family: 'Pacifico', cursive;
}

h3, .controls-list, .github-infos {
  font-family: 'Titillium Web', sans-serif;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.tech-logo {
  height: 70px;
  width: auto;
  padding: 10px;
}
